* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bai Jamjuree', sans-serif;
	line-height: 1.5;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
